<% content_for :title, "Edit Items" %>

<h1>Edit Items</h1>

<%= render "form", market: @market %>

<br>

<div>
  <%= link_to "Show this item", @market %> |
  <%= link_to "Back to Main Page", markets_path %>
</div>
